.row {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.col {
    background-color: green;
    flex: 1
}

.col-2 {
    background-color: green;
    flex: 2
}

.col-3 {
    background-color: green;
    flex: 3;
}